$beige: #f5f5dc;
$green: #7fb876;
$gray: #bdbdbd;
$dark-gray: #696969;
$black: #000;
$white: #fff;
$pink: #a87e83;
$purple: #935e65;

$accent-color: #00a7f7;
$accent-color-1: #168dcc;
$accent-color-2: #1272a5;

$alert-success-color: #2ecc71;
$alert-warning-color: #f3a800;
$alert-error-color: #e75556;

$accent-highlight: #ddeef6;
$new-highlight-color: #f3fcf7;
$error-highlight-color: #ffeeef;
